@charset "utf-8";

body{
    font: normal 15pt arial,helvetica,sans-serif;
    background-color: rgb(61, 184, 255);
}

header{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

section{
    padding: 8px 10px;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.205);
}

div{
    margin: 10px;
}

div#contagem{
    margin: 0;
}

footer{
    color: white;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.582);
}